/*

Orongo CSS
*********************************

Author: Jaco Ruit 


Last edit: 14-12-2011 by Jaco Ruit
*/
* {
	margin:0px;
	padding:0px;
	border:0px;
}
body, html {
	background:url(images/bg.png) #ffffff repeat-x;
	font-family:arial, sans-serif;
}


.content_block{
}

.hidden{
    overflow:hidden;
}

.left{
    float: left;
}

.right{
    float: right;
}

.hide {
    display:none;
}

.fixed{
    position: fixed;   
}

.absolute{
    position: absolute;
}

.shadow {
  -moz-box-shadow: 3px 3px 4px #000; /* Firefox/Mozilla */
  -webkit-box-shadow: 3px 3px 4px #000; /*Safari/Chrome */
  box-shadow: 3px 3px 4px #000; /* Opera */
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}